body {
	margin: 0;
	padding:0;
	height: 100%;
}

#wrapcontainer {
	min-height: 100%;
	height: auto;
	margin: 0;

}

.navbar-static-top {
  margin-bottom:20px;
}

i {
  font-size:16px;
}

.nav > li > a {
  color:#787878;
}
  
footer {
  margin-top:20px;
  padding-top:20px;
  padding-bottom:20px;
  background-color:#efefef;
  position: absolute;
  bottom: 0;
  width: 100%;
}

@media screen and (max-width: 1210px) {
    footer {
		position: relative;
	}
}

/* count indicator near icons */
.nav>li .count {
  position: absolute;
  bottom: 12px;
  right: 6px;
  font-size: 9px;
  background: rgba(51,200,51,0.55);
  color: rgba(255,255,255,0.9);
  line-height: 1em;
  padding: 2px 4px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

/* indent 2nd level */
.list-unstyled li > ul > li {
   margin-left:10px;
   padding:8px;
}

.navbar-brand, .navbar-inverse, .navbar-nav a {
	color: white !important;
}

.navbar-nav a:hover {
	text-decoration: underline !important;
}

.form-control {
	margin-bottom: 5px;
}


.navbar{
 background-color: #2884b3;	
}


#main {
	padding-bottom: 40px !important;
}